.wrapper-header {
  background-color: #e71414;
  color: white;
  min-height: 53vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  padding: 8vh 10vw;
  position: relative;
}

.wrapper-header a {
  color: white;
  font-size: calc(20px + 4vmin);
}

.wrapper-arrow {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  padding-bottom: 10px;
}
