.wrapper-about-me {
  text-align: center;
  background-color: #2fc4b2;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  padding: 8vh 10vw;
}

#profile-image {
  width: 150px;
  border-radius: 50%;
  border: white solid 3px;
}

.interests-wrapper {
  max-width: 60%;
}

.interests-text {
  /* color: #e8e4e1; */
  text-align: center;
}

.mapContainer {
  position: relative;
  min-width: 70vw;
  height: 60vh;
}
